* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
  background-color: purple;
}

.header > div {
  height: 70px;
  flex-basis: 140px;
  margin: 0 10px;
  background-color: pink;
}

.header > :first-child {
  margin-right: auto;
}

.main {
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background-color: lightgreen;
}

.content {
  max-width: 700px;
  display: flex;
  flex-grow: 1;
  padding: 20px;
  background-color: green;
  flex-wrap: wrap;
}

.content > div {
  height: 130px;
  margin: 10px;
  flex-basis: 200px;
  background-color: yellow;
}

.footer {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  justify-content: center;
}

.footer > div {
  height: 40px;
  max-width: 600px;
  margin: 10px;
  flex-basis: 45%;
  background-color: lightblue;
}
